body{
  background-color: #00000009;
}

/* UsersList Component */

span{
  cursor: pointer;
  color: black;
}

#root > div > div > table > thead > tr > th.text-center.table-light{
  color: black;
}

/* UserCreate Component*/

/* UserUpdate Component*/

