body{
  background-color: #ff282817;
}


/* UsersList Component */

span{
  cursor: pointer;
  color: black;
}

#table-actions{
  color: black;
}

/* UserCreate Component*/

/* UserUpdate Component*/

